.page {
  height: 100vh;
  margin: 0;
  background-color: #fff;
}


.page .page-footer{
  display: block;
  position: fixed;
  margin: 0;
  padding: 10px;
  bottom: 0;
  height: 75px;
  width: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  border-top: 1px solid #DDDDDD;
  z-index: 9999;
}

.page .cloud .media-body h4.media-heading {
  color: #999999;
  font-size: 13px;
}

.page .cloud a.icon-rounded {
  display: block;
  font-size: 26px;
  color: #fff;
  line-height: normal;
  text-align: center;
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.page .cloud .media-left a.icon-rounded {
  background-color: #f0ad4e;
}

.page .cloud .media-right a.icon-rounded {
  background-color: #5cb85c;
}

.cloud_area {
  position:relative;
  width:100vw;
  min-width:800px;
  height:100vh;
  min-height:600px;
}

.page .cloud_area .media {
  position:absolute;
  padding: 20px 20px 40px;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items:center;
  font-size:10px;
  font-weight:bold;
  width:270px;
  height:206.5px;
  border-radius: 10px;
  text-align: center;
  word-break: break-all;
  background-image: url(/assets/cloud.png);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center center;
  transform: -webkit-translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity:0;
  animation:
    'fadeIn' 1s ease 0s normal forwards,
    'cloud' 1s ease 1s alternate forwards infinite
}
@keyframes fadeIn {
  from {
    opacity:0;
    margin-top:100px;
  }
  to {
    opacity: 1;
    margin-top:0;
  }
}
@keyframes cloud {
  from {
    margin-top: 0;
  }
  to {
    margin-top:10px;
  }
}
.page .cloud .media-body div.edit-buttons { /*追加*/
  margin-top: 10px;
  text-align: center;
}

.page .cloud .media-body div.edit-buttons .btn { /*追加*/
  width: 100px;
}
.page-footer .form-control{
  width:50%;
  box-sizing:border-box;
  padding:5px;
  border-radius: 10px;
}
