.page {
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.page section{
  margin: 50px 10px 30px; /*margine-topを50pxに*/
}


.page .page-footer{
  display: block;
  position: fixed;
  margin: 0;
  padding: 10px;
  bottom: 0;
  height: 75px;
  width: 100%;
  max-width: 958px;
  background-color: #fff;
  border-top: 1px solid #DDDDDD;
  z-index: 9999;
}

.page .card .media-body {
  padding: 18px;
  margin: 0 10px;
  border-radius: 10px;
  font-size: 15px;
  word-break: break-all;
}

.page .card .media-body h4.media-heading {
  color: #999999;
  font-size: 13px;
}

.page .card a.icon-rounded {
  display: block;
  font-size: 26px;
  color: #fff;
  line-height: normal;
  text-align: center;
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.page .card .media-left a.icon-rounded {
  background-color: #f0ad4e;
}

.page .card .media-right a.icon-rounded {
  background-color: #5cb85c;
}

.cloud_area {
  position:relative;
  width:100vw;
  min-width:800px;
  height:100vh;
  min-height:600px;
}

.page .cloud_area .media {
  position:absolute;
  padding: 40px 55px;
  box-sizing: border-box;
  font-size:24px;
  font-weight:800;
  width:350px;
  background-image: url(/assets/cloud.png);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center center;
  transform: -webkit-translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity:0;
  animation:
    'fadeIn' 1s ease 0s normal forwards,
    'cloud' 1s ease 1s alternate forwards infinite
}

@keyframes fadeIn {
  from {
    opacity:0;
    margin-top:100px;
  }
  to {
    opacity: 1;
    margin-top:0;
  }
}
@keyframes cloud {
  from {
    margin-top: 0;
  }
  to {
    margin-top:10px;
  }
}
.page .card .media-body div.edit-buttons { /*追加*/
  margin-top: 10px;
  text-align: center;
}

.page .card .media-body div.edit-buttons .btn { /*追加*/
  width: 100px;
}
