<div class="page" (mousemove)="mmove($event)">
  <section class="cloud">
    <div class="cloud_area">
      <ng-container *ngFor="let comment of comments.reverse();let i = index; trackBy: trackFn">
        <!-- iを追加 -->
        <div class="media" [style.top]="comment.cloud_y + '%'" [style.left]="comment.cloud_x + '%'" [style.z-index]="comments.length - i" [attr.key]="comment.key" (mousedown)="mdown($event)" (mouseup)="mup($event)">
          <!--<h4 class="media-heading">{{comment.user.name}}  Date: {{comment.date | chatDate}}
           <button class="btn btn-primary btn-sm" (click)="toggleEditComment(i)">編集</button>
           <button class="btn btn-danger btn-sm" (click)="deleteComment(comment.key)">削除</button>
         </h4>-->
          <!-- edit_flagによって編集フィールドを切り替える -->
          <ng-container *ngIf="!comment.edit_flag">
            {{comment.content}}
          </ng-container>
          <ng-container *ngIf="comment.edit_flag">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="comment.content" name="edit_comment">
            </div>
            <div class="edit-buttons">
              <button class="btn btn-success btn-sm" (click)="saveEditComment(i, comment.key)">保存</button>
              <button class="btn btn-warning btn-sm" (click)="resetEditComment(i)">リセット</button>
            </div>
          </ng-container>
          <!-- 切り替えここまで -->
        </div>
      </ng-container>
    </div>
  </section>
  <section class="page-footer">
    <form class="chart-form">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="content" name="comment" (input)="setCount()" [ngStyle]="myStyle" placeholder="Comment" (keyup.enter)="addComment(content)">
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" (click)="addComment(content)">SEND</button>
        </span>
        <div style="position:absolute;top:40px;">{{count}}</div>
      </div>
    </form>
  </section>
</div>
